
h1 {
    background-color:black;
    margin-left:20%;
    margin-right:20%;
    border: 1px dotted grey;
    padding: 10px 10px 10px 10px;
    color:white;
    text-align:center;
    padding:5px;
}
h2 {
    background-color:green;
    margin-left:20%;
    margin-right:20%;
    border: 1px dotted grey;
    padding: 10px 10px 10px 10px;
    color:white;
    text-align:center;
    padding:5px;
}
#list {
background-color:purple;
    margin-left:10%;
    margin-right:10%;
    border: 10px dotted red;
    padding: 10px 10px 10px 10px;
    color:white;
    text-align:right;
    padding:5px; 
}

.right {
    text-align: right;
    float: right;
}

#ovoMenu {
    margin: 0px;
    padding: 0px;
    /* Size properties */
    padding-top: 5px;
    /* Font properties */
    color: #FFFFFF;
    font-size: 80%;
    /* Create a gradient */
    background-color: #418CE5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#418CE5', endColorstr='#256EC6');
    background: -webkit-gradient(linear, left top, left bottom, from(#418CE5), to(#256EC6));
    background: -moz-linear-gradient(top, #418CE5, #256EC6);
    /* Links are not allowed on another line */
    white-space: nowrap;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
}
input {
  display: inline-block;
  float: left;
}